<div class="col-lg-10">
  <div class="col-md-12">
    <h4>Foturras</h4>


      <div id="myCarousel" class="carousel slide" data-interval="false">

        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-sm-3"><a href="#gallery" class="thumbnail" data-slide-to="0"><img src="http://placehold.it/150x100&text=item1" alt="Image" class="img-responsive" data-toggle="modal" data-target="#myModal"></a>
              </div>
              <div class="col-sm-3"><a href="#gallery" class="thumbnail" data-slide-to="1"><img src="http://placehold.it/150x100&text=item2" alt="Image" class="img-responsive" data-toggle="modal" data-target="#myModal"></a>
              </div>
              <div class="col-sm-3"><a href="#gallery" class="thumbnail" data-slide-to="2"><img src="http://placehold.it/150x100&text=item3" alt="Image" class="img-responsive" data-toggle="modal" data-target="#myModal"></a>
              </div>
              <div class="col-sm-3"><a href="#gallery" class="thumbnail" data-slide-to="3"><img src="http://placehold.it/150x100&text=item4" alt="Image" class="img-responsive" data-toggle="modal" data-target="#myModal"></a>
              </div>
            </div>
            <!--/row-->
          </div>
          <!--/item-->
          <div class="item">
            <div class="row">
              <div class="col-sm-3"><a href="#gallery" class="thumbnail" data-slide-to="4"><img src="http://placehold.it/150x100&text=item5" alt="Image" class="img-responsive" data-toggle="modal" data-target="#myModal"></a>
              </div>
              <div class="col-sm-3"><a href="#gallery" class="thumbnail" data-slide-to="5"><img src="http://placehold.it/150x100&text=item6" alt="Image" class="img-responsive" data-toggle="modal" data-target="#myModal"></a>
              </div>
              <div class="col-sm-3"><a href="#gallery" class="thumbnail" data-slide-to="6"><img src="http://placehold.it/150x100&text=item7" alt="Image" class="img-responsive" data-toggle="modal" data-target="#myModal"></a>
              </div>
              <div class="col-sm-3"><a href="#gallery" class="thumbnail" data-slide-to="7"><img src="http://placehold.it/150x100&text=item8" alt="Image" class="img-responsive" data-toggle="modal" data-target="#myModal"></a>
              </div>
            </div>
            <!--/row-->
          </div>
        </div>
        <!--/carousel-inner-->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
      <!--/myCarousel-->

    <!--/well-->
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="gallery" class="carousel slide" data-interval="false">
          <ol class="carousel-indicators">
            <li data-target="#gallery" data-slide-to="0" class="active"></li>
            <li data-target="#gallery" data-slide-to="1"></li>
            <li data-target="#gallery" data-slide-to="2"></li>
            <li data-target="#gallery" data-slide-to="3"></li>
            <li data-target="#gallery" data-slide-to="4"></li>
            <li data-target="#gallery" data-slide-to="5"></li>
            <li data-target="#gallery" data-slide-to="6"></li>
            <li data-target="#gallery" data-slide-to="7"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="http://placehold.it/600x400&text=item1" alt="item1">
              <div class="carousel-caption">
                <h4>heading 1</h4>

                <p>This is the description.</p>
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/600x400&text=item2" alt="item2">
              <div class="carousel-caption">
                <h4>heading 2</h4>

                <p>This is the description.</p>
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/600x400&text=item3" alt="item3">
              <div class="carousel-caption">
                <h4>heading 3</h4>

                <p>This is the description.</p>
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/600x400&text=item4" alt="item4">
              <div class="carousel-caption">
                <h4>heading 4</h4>

                <p>This is the description.</p>
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/600x400&text=item5" alt="item5">
              <div class="carousel-caption">
                <h4>heading 5</h4>

                <p>This is the description.</p>
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/600x400&text=item6" alt="item6">
              <div class="carousel-caption">
                <h4>heading 6</h4>

                <p>This is the description.</p>
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/600x400&text=item7" alt="item7">
              <div class="carousel-caption">
                <h4>heading 7</h4>

                <p>This is the description.</p>
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/600x400&text=item8" alt="item8">
              <div class="carousel-caption">
                <h4>heading 8</h4>

                <p>This is the description.</p>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#gallery" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#gallery" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>