<!-- Modal -->
<div class="modal fade" id="confirm_delete_appointment_modal" tabindex="-1" role="dialog" aria-labelledby="confirm_delete_appointment_modal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content alert-danger">
      <div class="modal-header alert-danger">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Cancelar Cita
        </h4>
      </div>
      <div class="modal-body alert-danger">
        <div id="modal_content_div">
          Deseas cancelar esta cita?
        </div>
      </div>
      <div class="modal-footer alert-danger">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-danger" onclick="removeAppointment()">
          <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancelar Cita
        </button>
      </div>
    </div>
  </div>
</div>
