<!-- Modal -->
<div class="modal fade" id="confirm_pet_appointment" tabindex="-1" role="dialog" aria-labelledby="confirm_pet_appointment" >
  <div class="modal-dialog" role="document" style="width: 60%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="confirm_pet_appointment_title" class="modal-title">Nueva cita con ...</h4>
      </div>
      <div id="new_appointment_body_div" class="modal-body">
        <form id="new_pet_appointment_form">
          <div class="row">
            <!-- Pet info -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <fieldset class="form-group has-feedback">
                    <label>Nombre del Peludo</label>
                    <input type="text" class="form-control" name="pet_name" placeholder='Buscar Peludo...' onchange="clear_pet_pk()">
                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset class="form-group">
                    <label>Raza</label>
                    <input type="text" class="form-control" id="pet_breed" placeholder="Raza">
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <fieldset class="form-group">
                    <label>Fecha Nacimiento</label>
                    <input data-provide="datepicker" data-date-format="mm/dd/yyyy" data-date-autoclose="true" class="form-control" id="pet_birthday" placeholder="dd/mm/aaaa">
                  </fieldset>
                </div>
                <div class="col-md-8">
                  <fieldset class="form-group">
                    <label for="exampleTextarea">Notas del peludo</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                  </fieldset>
                </div>
              </div>
            </div>
            <!-- Owner info -->
            <div class="col-md-6" style="padding-right:20px; border-left: 1px solid #ccc;">
              <div class="row">
                <div class="col-md-12">
                  <fieldset class="form-group has-feedback">
                    <label>Dueño</label>
                    <input type="text" class="form-control" name="customer_firstname" placeholder="Nombre y Apellidos" onchange="clear_owner_pk()">
                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <fieldset class="form-group has-feedback">
                    <label>Teléfono</label>
                    <input type="text" class="form-control" name="customer_phone" placeholder="Teléfono">
                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
                  </fieldset>
                </div>
                <div class="col-md-4">
                  <div class="checkbox top-buffer-40">
                    <label>
                      <input name="is_club_happy" type="checkbox"> Club Happy
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <fieldset class="form-group has-feedback">
                    <label>Email</label>
                    <input type="email" class="form-control" name="customer_email" placeholder="Email">
                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!-- Services -->
          <div class="row">
            <div class="dropdown col-md-3">
              <button class="btn btn-default dropdown-toggle" type="button" id="services_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-scissors"></span>
                Servicios
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% for s in services %}
                  <li><a href="#">{{ s.name }}</a></li>

                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="row">
            <table id="services_table" class="table table-stripped">
              <th>Servicio</th>
              <th>Precio</th>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="confirm_new_pet_appointment_btn"type="button" class="btn btn-primary"  onclick="new_pet_appointment()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo Peludo</button>
        <button id="confirm_pet_appointment_btn" type="button" class="btn btn-success align-left"></button>
        <button id="confirm_appointment_btn" type="button" class="btn btn-primary hidden"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dar Cita</button>
      </div>
    </div>
  </div>
</div>