{% extends 'happy/base.html' %}
{% block extra_head %}
  {% load staticfiles %}
  <link href="{% static 'happy/fullcalendar/fullcalendar.css' %}" rel='stylesheet' media="screen" />
  <script src="{% static 'happy/js/moment.js' %}"></script>
  <script src="{% static 'happy/fullcalendar/fullcalendar.min.js' %}"></script>
  <script src="{% static 'happy/fullcalendar/lang/es.js' %}"></script>
  <script src="{% static 'happy/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'happy/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>
  <link href="{% static 'happy/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
<script>
    $( "#nav_main").addClass('active');
</script>
<div class="row">
  <div id='calendar' class="col-lg-8">
  </div>
  <div class="col-sm-4">
    {% include 'happy/search_pet.html' %}
  </div>
</div>
{% include 'happy/pet_appointment.html' %}
{% include 'happy/pet_birthdays.html' %}
{% include 'happy/confirm_delete_appointment.html' %}
{%  include 'happy/pay_appointment.html' %}
{% endblock %}
