{% load staticfiles %}
<!-- Modal -->
<div class="modal fade" id="pets_birthday_modal" tabindex="-1" role="dialog" aria-labelledby="pets_birthday_modal" >
  <div class="modal-dialog" role="document" style="width: 60%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="pets_birthday_modal_title" class="modal-title">Cumpleaños!</h4>
      </div>
      <div class="modal-body">
        <div id="birthdays_row" class="row">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
