
.icon-guidedog:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-basket-alt:before { content: '\e802'; } /* '' */
.icon-gift:before { content: '\e803'; } /* '' */
.icon-birthday:before { content: '\e804'; } /* '' */
.icon-paw:before { content: '\e805'; } /* '' */
.icon-scissors:before { content: '\e806'; } /* '' */
.icon-basket-1:before { content: '\e807'; } /* '' */
.icon-basket-2:before { content: '\e808'; } /* '' */
.icon-basket-3:before { content: '\e809'; } /* '' */
.icon-basket-4:before { content: '\e80a'; } /* '' */
.icon-facebook-official:before { content: '\e80b'; } /* '' */
.icon-facebook-squared:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-emo-thumbsup:before { content: '\e80e'; } /* '' */
.icon-emo-shoot:before { content: '\e80f'; } /* '' */
.icon-child:before { content: '\e810'; } /* '' */
.icon-phone:before { content: '\e811'; } /* '' */
.icon-calendar:before { content: '\e812'; } /* '' */
.icon-floppy:before { content: '\e813'; } /* '' */
.icon-gauge:before { content: '\e814'; } /* '' */
.icon-instagram:before { content: '\e815'; } /* '' */
.icon-camera:before { content: '\e816'; } /* '' */
.icon-at:before { content: '\e817'; } /* '' */
.icon-shop:before { content: '\e818'; } /* '' */
.icon-gauge-1:before { content: '\e819'; } /* '' */